
@{
    ViewBag.Title = "ExistMember";
}

<html>
<body>
    <h2>會員資料</h2>
    <div>
        <span>>姓名 :</span>

        <span>會員帳號 :</span>

        <span>會員密碼 :</span>
        <span>E-mail :</span>


    </div>
</body>
</html>
